body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    position: absolute;
    transform: translate(50%, 0%);
    width: 825px;
    display: block;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
}

h1 {
    font-size: 36px;
    line-height: normal;
}

h2 {
    font-size: 30px;
    line-height: normal;
}

p {
    text-align: justify;
    line-height: 1.42857143;
    font-size: 14px;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #265781;
    text-decoration: underline;
}

img {
    cursor: pointer;
}

.data {
    color: #999;
    line-height: 0.01;
}

.data-cl {
    cursor: pointer;
    color: #999;
    line-height: 0.01;
}

.data-cl:hover {
    cursor: pointer;
    color: #999;
    text-decoration: underline;
}